@page {margin:0 -6cm}
html {margin:0 6cm}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
	border: #FFFFFF !important;
	font-size: 23px !important;
	height: 40px !important;
}
.form-row {
	font-size: 23px;
}

#OrganizationalLinkage, #employees_id{
	background: #FFFFFF;
}



@media print {

 #btn_actionn {
	display: none;
}      


}