#mnuad {
	margin: 0px auto 0px auto;
	width: 450px;
}
table tr {
    height: 45px;
}


/* INPUT */


/********************  ظ‚ط§ط¦ظ…ط© ط­ظ‚ظˆظ„ ط§ظ„ط¥ط¯ط®ط§ظ„   *****************************/



input[type=text],input[type=password],textarea,select{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

	padding:6px;
    width: 300px;
	color:#555;
	border-radius:7px;
	border:1px solid #C1C1C1;	
	resize:none;
}

input[type=text]:hover,input[type=text]:focus,
input[type=password]:hover,input[type=password]:focus,
textarea:hover,textarea:focus,
select:hover,select:focus{
background: #f50; /* Old browsers */
background: -moz-linear-gradient(top,  #f9f9f9 0%, #f1f1f1 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f1f1f1 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9f9f9 0%,#f1f1f1 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9f9f9 0%,#f1f1f1 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9f9f9 0%,#f1f1f1 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */

border:1px solid #f50;

}

#ccc{color:#ccc;}

input[type=submit]{
background: #b5bdc8; /* Old browsers */
background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

padding:6px;
	color:#fff;
	border-radius:7px;
	border:1px solid #C1C1C1;	
	font-weight:bold;
}

input[type=submit]:active{
border:2px solid  #6db3f2;
}
input[type=submit]:hover{
	
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
color:#f50;
}

textarea {
    background: url("img/form-field-bg.gif") repeat-x #fff;
    border-color: #DEDEDE #BBBBBB #BBBBBB #DEDEDE;
    border-style: solid;
    border-width: 1px;
    font: 110% Arial,Helvetica,sans-serif;
    padding: 5px 3px 3px 7px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	width:300px;
}
input:focus {
    border: 1px solid #999999;
}
textarea:focus {
    border: 1px solid #999999;
}


	#box {
		margin: 0 auto;
		padding: 15px 10px 25px;
		width: 420px;
		background: url(../templet/line-top.png) repeat-x top,
					url(../templet/gradient-bottom.png) repeat-x bottom;
		background-color: rgb(232,232,232);
		background-color: rgba(232,232,232,0.5);
		/* background-color: hsla(0,0%,92%,1); */
		border: 1px solid #7f7f7f;
	}
    
#box_2{
	margin: 0 auto;
	padding: 15px 10px 25px;
	width: 500px;
	background: url(../templet/line-top.png) repeat-x top, url(../templet/gradient-bottom.png) repeat-x bottom;
	background-color: rgb(232,232,232);
	background-color: rgba(232,232,232,0.5); /* background-color: hsla(0,0%,92%,1); */;
	border: 1px solid #7f7f7f;
}


.ok {background: #F6F7DF; padding: 12px; width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #EDF1AF;
    color: #5C6113;
    border-radius: 7px;
    }
.no {background: #FCE0E0; padding: 12px; width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #F2A0A0;
    color: #ff0000;
    border-radius: 7px;
    }

#footer {
	color: #808080;
	text-align: center;
	font-size: 8pt;
}

/******************** صندوق إعادة التوجيه *****************************/
#allPost {
	background: #ffffff;
/* Old browsers */	background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 36%, #f7f7f7 100%); /* FF3.6+ */;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(36%,#fbfbfb), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */;
	background: -webkit-linear-gradient(top, #ffffff 0%,#fbfbfb 36%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */;
	background: -o-linear-gradient(top, #ffffff 0%,#fbfbfb 36%,#f7f7f7 100%); /* Opera 11.10+ */;
	background: -ms-linear-gradient(top, #ffffff 0%,#fbfbfb 36%,#f7f7f7 100%); /* IE10+ */;
	background: linear-gradient(to bottom, #ffffff 0%,#fbfbfb 36%,#f7f7f7 100%); /* W3C */;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */;
	margin: 100px auto 0px auto;
	padding: 10px;
	width: 500px;
	text-align: center;
	border: 1px solid #666666;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 0 10px #707070;
	-moz-box-shadow: 0 0 10px #707070;
	-webkit-box-shadow: 0 0 10px #707070;
}

#allPost h2 {
	margin: 0 0 10px;
	font: bold 25px "Simplified Arabic";
	color: #ffa200;
	text-shadow: 0 1px 0 #6f511e;
}

#allPost p {
	margin: 15px 0;
	font: 17px tahoma;
	line-height: 22px;
	color: #34312c;
	text-shadow: -1px 1px 2px #c4c4c4;
}

